<div class="px-4 py-2 flex items-start text-sm hover:shadow-inner">
    <img src="https://avatars3.githubusercontent.com/u/20269183?s=460&v=4.jpg" class="w-10 h-10 rounded mr-3">
    <div class="flex-1 overflow-hidden">
        <div>
            <span class="font-bold text-gray-900"><%= @message.published_by %></span>
            <span class="text-gray-700 text-xs"><%= time(@message.published_on) %></span>
        </div>
        <p class="text-gray-900 leading-normal"><%= @message.body %></p>
    </div>
</div>