<body class="min-h-screen font-sans antialiased leading-tight max-h-screen"
        style="background-image: url('<%= Routes.static_url(@conn, "/images/seigaiha_purple.png") %>')">

<main role="main">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
</body>
