<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Libu · LiveView Experiments</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body class="min-h-screen font-sans antialiased leading-tight max-h-screen" 
        style="background-image: url('<%= Routes.static_url(@conn, "/images/seigaiha_purple.png") %>')">

    <header>
      <nav id="site-navigation" class="relative select-none flex items-stretch w-full items-center">
        <div class="flex flex-no-shrink items-stretch">
          <a href="/" class="no-underline">
              <div class="px-4 p-4 w-20">
              <img src="<%= Routes.static_path(@conn, "/images/darkphoenix.png") %>" alt="Phoenix Framework Logo"/>
              </div>
          </a>
          <div class="flex items-stretch ml-auto">
            <%= link("Chat", to: "/chat", 
                class: "nav-item flex flex-no-grow flex-no-shrink"
            ) %>
            <%= link("Analysis", to: "/analysis", 
                class: "nav-item flex flex-no-grow flex-no-shrink"
            ) %>
          </div>
        </div>
        <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow" id="right-menu-options">
          <div class="lg:flex lg:items-stretch lg:justify-end ml-auto">
            <%= if @current_user != nil do %>
              <div class="flex items-center">
              <img src="<%= @current_user.avatar_url %>" 
                  alt="avatar"
                  class="w-8 h-8 rounded-full mr-3 hover:shadow-outline">
              </div>
            <% else %>
              <%= link("Sign In", to: "/auth/github", 
                  class: "nav-item flex flex-no-grow flex-no-shrink"
              ) %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
      <div id="content" class="container mx-auto flex justify-center max-h-full">
          <%= Map.get(assigns, :inner_layout) || render @view_module, @view_template, assigns %>
      </div>
    </main>
    
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
