<div class="flex flex-col justify-center">

  <div class="flex-col">
    <div class="p-2">
    A series of Liveview experiments.

    Styled with Tailwind CSS Utilities.
    </div>
    <div class="p-2 content-center">
    You can find the repo <%= link("here", to: "https://github.com/zblanco/libu", class: "text-purple-800") %>.
    </div>
  </div>
  <div class="flex justify-center pt-10">
    <%= live_render(@conn, LibuWeb.LiveClock) %>
  </div>
</div>
