<div class="flex flex-col">

  <div class="flex justify-center">
    <p>
    A series of Liveview experiments.

    Styled with Tailwind CSS Utilities.
    </p>
  </div>
  <div class="flex justify-center pt-10">
    <%= live_render(@conn, LibuWeb.LiveClock) %>
  </div>
</div>
