
<div class="pt-5">
    <h2 class="flex justify-center text-xl">New Project</h2></br>
    <div class="w-full max-w-xs mx-auto pt-4x overflow-hidden shadow-lg px-8 pt-6 pb-8 box">
        <%= render "form.html", assigns %>
    </div>
</div>

<%= button( "Back", to: Routes.live_path(@socket, ProjectLive.Index), method: :get,
    class: "btn-quiet mt-4"
)%>
